<article class="article-item">
    <div class="image-wrap">
        <img alt="{{pelicula.title}}" src="{{pelicula.image}}">
    </div>
    <h2> {{pelicula.title}}</h2>
    <span class="date">
    Hace 5 minutos
    </span>
    <span [ngClass]="{
        'year-green': pelicula.year>2016,
        'year-red': pelicula.year<2016
      }">
       {{pelicula.year}}
    </span>
    <a href="">Leer más</a>
    <button (click)=seleccionar($event,pelicula)>
        Seleccionar como favorita
    </button>
    <div class="clearfix"></div>

</article>